<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.119.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp.HarfBuzz" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.119.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SkiaSharp.Views.Desktop.Common" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.119.0.0" newVersion="2.88.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <connectionStrings>
        <add name="CentralAccountConnection" connectionString="Data Source=68.178.166.190,1434;Initial Catalog=Account_TFMS;User ID=sa;Password=Cey_2025;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
		
        <add name="ServerConnection" connectionString="Data Source=68.178.166.190,1434;Initial Catalog=POS_Restaurant;User ID=sa;Password=Cey_2025;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />

		<add name="LocalConnection" connectionString="Data Source=CEYBASEHESHAN;Initial Catalog=POS_Restaurant;Integrated Security=True;TrustServerCertificate=True" />

		
    </connectionStrings>

	<appSettings>
		<!-- Set to "ServerConnection" or "LocalConnection" to choose which connectionStrings entry above is active on this machine. -->
		<add key="ActiveConnection" value="ServerConnection"/>
		<add key="LocalPOSRegisterId" value="1"/>
		<add key="LocalPrinterName" value="PRN-GF-RCP-01"/>
		<add key="RetailCategoryId" value="3"/>
		<add key="TerminalLocationId" value="1"/>
		
		<!-- Cloudflare R2 configuration. Keep real values out of source control. -->
		<add key="CloudflareR2AccessKeyId" value="bd6ce24db97032c4429067ba69c7b7c4"/>
		<add key="CloudflareR2SecretAccessKey" value="3206a370ee1aaf40bada8004fad2f8492e9157d5d6559eeb46ec4ae98f36b9c0"/>
		<add key="CloudflareR2ServiceUrl" value="https://26f7d5777217e47806d5ec59b0bede9f.r2.cloudflarestorage.com"/>
		<add key="CloudflareR2BucketName" value="nexora-pos-assets"/>
		<add key="CloudflareR2PublicBaseUrl" value="https://pub-447655abc39d4371b91caea7ebb27c53.r2.dev"/>
		<add key="CloudflareR2SignedUrlMinutes" value="15"/>
	</appSettings>
	
	
</configuration>
